button {
  border: none;
  padding: 5px;
  color: #fff;
  cursor: pointer;
  position: relative;
  border-radius: 3px;
}

.btnEdit {
  width: 48px;
  margin-right: 10px;
  border-color: #0d6efd;
  background-color: #0d6efd;
}

.btnDelete {
  border-color: #dc3545;
  background-color: #dc3545;
}

